body {
    font-family: 'Monospace', Monospace;
    background: url('bear.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.chat-container {
    width: 500px;
    height: 600px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.chat-header {
    background-color: #cac396;
    padding: 20px;
    display: flex;
    align-items: center;
    border-bottom: 3px solid #f5f2d6;
}

.bot-icon {
    width: 115px;
    height: 85px;
    margin-right: 15px;
}

.chat-header h1 {
    margin: 0;
    font-size: 2em;
}

.chat-body {
    flex: 1;
    padding: 20px;
    background-color: #fff;
    overflow-y: auto;
    flex-direction: column;
}

.message {
    display: flex;
    background-color: #cac396;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 10px;
    max-width: 65%;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}

.bot-message,

.user-message {
    border: 0.15vw solid #777;
    background-color: #fff;
    border-radius: 0px 1.5vw 1.5vw 1.8vw;
    padding: 1vw;
    margin: 0.4vw 0;
    align-self: flex-end;
}

.message-icon {
    width: 35px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;/* Geser ikon ke kiri dari bubble */
}

.bot-message {
    margin-left: 10px;
    background-color: #cac396;
    align-self: flex-start; /* Bot message di kiri */
    justify-self: flex-start;
    
}

.user-message {
    align-self: flex-end; /* User message di kanan */
    justify-self: flex-end;
    border: 1.5px solid #ece8c9;
    border-radius: 1.5vw 0vw 1.5vw 1.8vw;
    background-color: #ece8c9;
}

.message p {
    padding: 5px;
    border-radius: 5px;
}

.chat-footer {
    display: flex;
    padding: 15px;
    background-color: #cac396;
    border-top: 3px solid f5f2d6;
}

#user-input {
    flex: 3;
    padding: 15px;
    border: none;
    border-radius: 9px;
    font-size: 1em;
}

button {
    background-color: f5f2d6;
    color: #0c0b0b;
    border: none;
    padding: 15px;
    border-radius: 5px;
    margin-left: 10px;
    font-size: 1em;
    cursor: pointer;
}
